
Conecta4/Intermediate/Android/APK/jni/armeabi-v7a/libUE4.so
Conecta4/Intermediate/Android/APK/libs/armeabi-v7a/libUE4.so
Conecta4/Intermediate/Android/APK/obj/local/armeabi-v7a/libUE4.so
Conecta4/Juego/WindowsNoEditor/C4IATontaLimpio/Content/Paks/C4IATontaLimpio-WindowsNoEditor.pak
Conecta4/Juego/WindowsNoEditor/Engine/Binaries/Win64/UE4Game.exe
Conecta4/Saved/Logs/C4TerceraPersona2.log
